<div class="loader-inner ball-scale">
  <div></div>
</div>

<small class="d-none d-sm-block time-table-occurrence-label">
  <div class='d-inline-block'>
    {{startsAtLabel}} - {{endsAtLabel}}
  </div>
</small>

<div class="time-table-occurrence-resize-handle"></div>