<div class="row no-gutters">
  <div class="col-md-2 d-md-block d-none sidebar">
    <div class="sidebar-sticky">
      {{partial 'me/side-nav'}}
    </div>
  </div>
  <main role='main' class="col-md-10 ml-sm-auto">
    {{outlet}}
  </main>
</div>
