<h3 class='mb-1 lead text-center'>
  What are you looking for partners for?
</h3>
<div class="text-center mb-4">
  <small class='text-muted'>
  Don't worry, you can change this selection at any time
  </small>
</div>

{{me/activities-form all=model selection=activitySettings onSave=(action 'save') buttonText="Next"}}
