<div class="row no-gutters">
  <div class="col-2">
  </div>
  <div class="col">
    <div class="row no-gutters">
      {{#each days as |day|}}
        <div class="col border">
          {{day.index}}
        </div>
      {{/each}}
    </div>
    <div class="row no-gutters">
      <div class="col">
        {{#time-table/table/content model=model as |day|}}
          {{yield day this}}
        {{/time-table/table/content}}
      </div>
    </div>
  </div>
</div>