@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$body-bg: #f9fbfd;
$font-family-base: 'PT Sans', sans-serif;
$primary: #dd052b;
$success: #56E39F;
$info: #08415C;
$warning: #FFE74C;
$danger: #FF5964;

@import 'ember-cli-bootstrap-4/bootstrap';
@import 'node_modules/noty/src/noty';
@import 'node_modules/noty/src/themes/bootstrap-v4';

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.feather {
  width: 17px;
  height: 17px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

.schedule-index {
  height: 100vh;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  border-left: 4px solid transparent;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: gray("500");
}

.sidebar .nav-link.active {
  color: $primary;
  border-left: 4px solid $primary;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.time-table {
  flex: 1;
  height: 100%;

  .time-table-table {
    flex: 1;
  }

  .time-table-header {
    flex: none;
    height: 30px;

    .time-table-header-col {
      overflow: hidden;
    }
    .time-table-day-col {
      color: gray("600");
      font-weight: bold;
    }
  }

  .time-table-first-col {
    width: 50px;
    overflow: hidden;
  }

  .time-table-occurrence-label {
    font-size: 0.7rem;
  }

  .time-slot-label {
    small {
      margin-top: -10px;
      font-size: 0.7rem;
    }
  }

  .time-table-occurrence {
    @extend .p-1;
    border-radius: 2px;
    width: 100%;
    position: absolute;
    background: gray("600");
    color:$white;

    .ball-scale {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -32px;
      z-index: 10000;
      margin-right: -32px;
      div {
        background-color: gray("600");
      }
      transform: scale(0.7, 0.7);
    }

    &.is-interacting {
      opacity: 0.3;

      .ball-scale {
        display: none;
      }
    }

    &.time-table-occurrence-preview {
      @extend .shadow;

      .ball-scale {
        display: none;
      }
    }

    .time-table-occurrence-resize-handle {
      bottom: 0;
      cursor: ns-resize;
      height: 8px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  .time-table-content-wrapper {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .scroll-pad {
    overflow-y: scroll;
  }

  .time-table-content {
    flex: 1;
  }
}

.prof-pic-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.full-page-loader {
  height: 100vh;
  .loader-inner > div {
    background-color: gray("300");
  }
}

.noty_theme__bootstrap-v4.noty_type__warning {
  background-color: $warning;
  color: darken($warning, 10%);
  border-color: $warning;
}

.noty_theme__bootstrap-v4.noty_type__error {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}

.noty_theme__bootstrap-v4.noty_type__info,
.noty_theme__bootstrap-v4.noty_type__information {
  background-color: $info;
  color: white;
  border-color: $info;
}

.noty_theme__bootstrap-v4.noty_type__success {
  background-color: $success;
  color: darken($success, 60%);
  border-color: $success;
}
