//$body-bg: #f4f4f4;

@import 'ember-cli-bootstrap-4/bootstrap';

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.time-table {
  flex: 1;
  height: 100%;

  .time-table-table {
    flex: 1;
  }

  .time-table-header {
    flex: none;
    height: 50px;

    .time-table-header-col {
      overflow: hidden;
    }
  }

  .time-table-first-col {
    width: 60px;
    overflow: hidden;
  }

  .time-table-occurrence {
    @extend .p-1;
    @extend .rounded;
    width: 100%;
    position: absolute;
    background: $primary;
    color:$white;

    &.is-interacting {
      opacity: 0.4;
    }

    &.time-table-occurrence-preview {
      @extend .shadow;
    }
  }

  .time-table-content-wrapper {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .scroll-pad {
    overflow-y: scroll;
  }

  .time-table-content {
    flex: 1;
  }
}
