<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-2">
      <div class="pb-1 mb-3 mt-4 border-bottom">
        <h3>Activities</h3>
      </div>
      {{#me/activities-form selection=activitySettings as |form|}}
        {{#each model as |activity|}}
          {{me/activities-form/activity model=activity selection=form.selection}}
        {{/each}}
      {{/me/activities-form}}
    </div>
  </div>
</div>
