<div class="pt-3 px-4 d-flex flex-column">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <div>
    {{link-to 'Back to Schedule' 'app.schedule' class='mb-1 d-block'}}
    <h2>Wednesday, 7pm-9pm</h2>
    </div>
  </div>
  <div class='d-flex flex-column'>
  </div>
</div>
